fieldset.custom {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.custom {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

#login .container #login-row #login-column #login-box {
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #f8f9fa;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

.bg-main {
    background-color: #f8dc81 !important;
}

.bg-sec {
    background-color: #eff7e1 !important;
}

.bg-component {
    background-color: #a2d0c1 !important;
}

.bg-last {
    background-color: #214151 !important;
}

.img-content {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
}