<div class="row">
    <div class="col-md-12">
        <nav class="float-right" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wisata Kuliner</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12">
        
    </div>
</div>

<section>
    <h3>Daftar Wisata Kuliner Kota Depok</h3>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-sec d-flex mb-3">
                        <div class="card-header">Sop Duren Margonda</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/sop-duren.jpg" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    Buka sejak 2010, Sop Duren Margando selalu ramai pembeli. Dulu tempat berjualannya terbilang kecil tanpa area bersantap. Tapi kini pengunjung bisa menikmati sop duren di tempat.    
                                    <br>
                                    <a href="?q=detail_wisata_kuliner">Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-sec mb-3">
                        <div class="card-header">Waroeng SS Spesial Sambal</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/waroeng.jpg" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    Bagi para penggemar pedas, Warung Spesial Sambal menjadi salah satu pilihan. Selain harga yang murah, rasanya enak di lidah dan pedasnya bikin keringetan. Suasana yang cozy ditambah lagi dengan harga yang murah menjadi pilihan utama anak-anak muda dan para mahasiswa untuk menikmati aneka sambal.
                                    <br>
                                    <a href="?q=detail_wisata_kuliner">Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-sec mb-3">
                        <div class="card-header">Soto Bu Tjondro</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/soto.jpg" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    Restoran Indonesia/Jawa yang menyediakan pengalaman menyantap hidangan lokal yang terbaik. Melalui komitmen dalam pengembangan manusia, pelayanan yang prima, dan penggunaan bahan-bahan terbaik pada setiap tahap pemrosesannya.
                                    <br>
                                    <a href="?q=detail_wisata_kuliner">Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>