<div class="row">
    <div class="col-md-12">
        <nav class="float-right" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wisata Rekreasi</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12">
        
    </div>
</div>

<section>
    <h3>Daftar Wisata Rekreasi Kota Depok</h3>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-sec mb-3">
                        <div class="card-header">Aladin Waterpark</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/aladin.jpg" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    Salah satu waterpark terbesar di kota Depok yang sering juga dikenal dengan Aladin Waterpark. Dengan harga tiket Depok Fantasi Waterpark yang masih terjangkau sudah bisa bermain di berbagai wahana seru.
                                    <br>
                                    <a href="?q=detail_wisata_rekreasi">Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-sec mb-3">
                        <div class="card-header">Taman Lembah Gurame</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/taman.jpg" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    Taman ini memiliki luas sekitar 3,3 hektar di mana dulunya merupakan fasum fasos dari Perumahan Perumnas Depok 1, Kelurahan Depok Jaya. Pada masa pemerintahan walikota Bapak Nur Mahmudi, kawasan ini mulai dibuat menjadi RTH atau ruang terbuka hijau untuk masyarakat umum.
                                    <br>
                                    <a href="?q=detail_wisata_rekreasi">Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-sec mb-3">
                        <div class="card-header">Kampoeng 99</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/99.jpg" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    Dalam tempat wisata ini tersedia <em>tour</em> keliling Kampung 99 Pepohonan yang biasanya dimulai dari jam 10 dan selesai saat jam makan siang. Untuk pengunjung dapat menanam pohon guna melestarikan alam kota Depok dengan biaya Rp.25.000 per-pohonnya.
                                    <br>
                                    <a href="?q=detail_wisata_rekreasi">Selengkapnya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>