<div class="row">
    <div class="col-md-12">
        <nav class="float-right" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="?q=daftar_wisata_rekreasi">Wisata Rekreasi</a></li>
                <li class="breadcrumb-item active" aria-current="page">Aladin Waterpark</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12">
        
    </div>
</div>
<!-- Konten dari sini -->
<section>
    <h3>Detail Wisata Rekreasi Aladin Waterpark</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-sec mb-3">
                <div class="card-header">Galeri Foto</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 d-flex justify-content-center">
                            <img src="./assets/img/aladin.jpg" class="w-100">
                        </div>
                        <div class="col-md-2 d-flex justify-content-center">
                            <img src="./assets/img/aladin-2.jpg" class="w-100">
                        </div>
                        <div class="col-md-2 d-flex justify-content-center">
                            <img src="./assets/img/aladin-3.jpg" class="w-100">
                        </div>
                        <div class="col-md-2 d-flex justify-content-center">
                            <img src="./assets/img/aladin-4.jpg" class="w-100">
                        </div>
                        <div class="col-md-2 d-flex justify-content-center">
                            <img src="./assets/img/aladin-5.jpg" class="w-100">
                        </div>
                        <div class="col-md-2 d-flex justify-content-center">
                            <img src="./assets/img/aladin-6.jpg" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-sec mb-3">
                <div class="card-header">Deskripsi Fasilitas</div>
                <div class="card-body">
                    <p>Waterpark ini salah satu tempat rekreasi air pertama dan terbesar yang berada di kawasan Grand Depok City, Kota Depok. Waterpark yang memiliki tema dan bernuansa Negeri 1001 malam dengan berbagai permainan air yang seru buat keluarga.</p>
                    <p>Banyak wahana seru yang bisa dicoba baik untuk anak-anak maupun dewasa. Esthatic Tower, Giant Slide, Waterplay, Kiddy Pool, adalah beberapa wahana yang bisa dimainkan.</p>
                    <p>Semua permainan dan wahana tentu ditunjang dengan fasilitas yang cukup lengkap. Mulai dari foodcourt, gazebo, panggung, hiburan serta fasilitas lainnya. Disediakan buat kenyamanan pengunjung yang berwisata ke waterpark ini.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-sec mb-3">
                <div class="card-header">Alamat & Peta Lokasi</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Jl. Boulevard Grand Depok City, Tirtajaya, Kec. Sukmajaya, Kota Depok, Jawa Barat 16412, Telepon: (021) 77826633</p>
                        </div>
                        <div class="col-md-6">
                            <iframe src="https://www.google.com/maps?q=Aladin%2C%20GDC&z=14&t=&ie=UTF8&output=embed" width="100%" height="250"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-sec mb-4">
        <div class="card-header">Testimoni & Komentar</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-muted mb-3">
                        <div class="card-header">Artis</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/artist.png" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    Seruu permainannya dan tempat berenang juga bagus, udah 2x ke tmpat ini, ga mengecewakan pokoknya ... Thanks
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-muted mb-3">
                        <div class="card-header">Pejabat</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/employee.jpg" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    Happy place happy family. Anak-anak suka diajak berenang disini. Hanya mungkin kamar bilasnya yg perlu diperbaiki fasilitas dan kapasitas. Juga toilet-toiletnya yg msh sedikit. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-muted mb-3">
                        <div class="card-header">Warga</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="./assets/img/citizen.png" class="img-content">
                                </div>
                                <div class="col-md-8">
                                    DFWP memang sangat menyenangkan buat anak-anak. Banyak jenis kolam dan permainan yang bisa dinikmati. Waktu kami berkunjung juga ada event foam bath,  mandi gelembung. Anak-anak sangat senang.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>