<section>
    <nav class="float-right" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./admin.html">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kelola Testimoni</li>
        </ol>
    </nav>
</section>

<!-- Konten dari sini -->
<section>
    <fieldset class="custom w-100">
        <legend class="custom"> Kelola Data Testimoni</legend>
        <table class="table table-bordered text-center">
            <thead class="bg-sec">
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Tempat Wisata</th>
                    <th>Rating</th>
                    <th>Komentar</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Joe Biden</td>
                    <td>joe_biden@yahoo.co.id</td>
                    <td>Sop Duren Margonda</td>
                    <td>4.8</td>
                    <td>Oke banget sampe mau meninggal</td>
                    <td class="text-center">
                        <a href="javascript:;" class="btn btn-danger" data-toggle="modal" data-target="#deleteForm"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Donald Trump</td>
                    <td>donald_trump@rocketmail.co.id</td>
                    <td>Aladin Waterpark</td>
                    <td>4.3</td>
                    <td>Kolam renangnya bersih, pasti skincarenya mahal</td>
                    <td class="text-center">
                        <a href="javascript:;" class="btn btn-danger" data-toggle="modal" data-target="#deleteForm"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</section>