<section>
    <h3>
        Wisata Rekreasi & Kuliner Unggulan Kota Depok
        <hr>
    </h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-sec mb-3">
                <div class="card-header">Aladin Waterpark</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img src="./assets/img/aladin.jpg" class="img-content">
                        </div>
                        <div class="col-md-8">
                            Salah satu waterpark terbesar di kota Depok yang sering juga dikenal dengan Aladin Waterpark. Dengan harga tiket Depok Fantasi Waterpark yang masih terjangkau sudah bisa bermain di berbagai wahana seru.
                            <br>
                            <a href="?q=detail_wisata_rekreasi">Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-sec d-flex mb-3">
                <div class="card-header">Sop Duren Margonda</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img src="./assets/img/sop-duren.jpg" class="img-content">
                        </div>
                        <div class="col-md-8">
                            Buka sejak 2010, Sop Duren Margando selalu ramai pembeli. Dulu tempat berjualannya terbilang kecil tanpa area bersantap. Tapi kini pengunjung bisa menikmati sop duren di tempat.    
                            <br>
                            <a href="?q=detail_wisata_kuliner">Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-sec mb-3">
                <div class="card-header">Kampung 99</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img src="./assets/img/99.jpg" class="img-content">
                        </div>
                        <div class="col-md-8">
                            Dalam tempat wisata ini tersedia <em>tour</em> keliling Kampung 99 Pepohonan yang biasanya dimulai dari jam 10 dan selesai saat jam makan siang. Untuk pengunjung dapat menanam pohon guna melestarikan alam kota Depok dengan biaya Rp.25.000 per-pohonnya.
                            <br>
                            <a href="?q=detail_wisata_rekreasi">Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>