<section>
    <a href="?q=registrasi_wisata_rekreasi">Registrasi Wisata Rekreasi</a>
    <nav class="float-right" aria-label="breadcrumb">
        <ol class="breadcrumb p-0">
            <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="?q=registrasi_wisata_rekreasi">Registrasi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Wisata Kuliner</li>
        </ol>
    </nav>
</section>

<!-- Konten dari sini -->
<section>
    <form action="POST" id="form">
        <fieldset class="custom w-100">
            <legend class="custom"> Form Registrasi Wisata Kuliner</legend>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group row">
                        <label for="nama" class="col-md-3 col-form-label">Nama Tempat Wisata</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="nama">
                            <span class="text-danger text-validation" id="text_nama"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="jenis" class="col-md-3 col-form-label">Jenis Wisata</label>
                        <div class="col-md-9">
                            <select id="jenis" class="form-control">
                                <option>Kedai Kopi</option>
                                <option>Rumah Makan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deskripsi" class="col-md-3 col-form-label">Deskripsi Wisata</label>
                        <div class="col-md-9">
                            <textarea id="deskripsi" class="form-control"></textarea>
                            <span class="text-danger text-validation" id="text_deskripsi"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="kontak" class="col-md-3 col-form-label">Kontak Person</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="kontak">
                            <span class="text-danger text-validation" id="text_kontak"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="no_hp" class="col-md-3 col-form-label">No. HP/Telpon</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="no_hp">
                            <span class="text-danger text-validation" id="text_no_hp"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-3 col-form-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="email">
                            <span class="text-danger text-validation" id="text_email"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="web" class="col-md-3 col-form-label">Alamat Web</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="web" value="http://">
                            <span class="text-danger text-validation" id="text_web"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="alamat" class="col-md-3 col-form-label">Alamat Lengkap</label>
                        <div class="col-md-9">
                            <textarea id="alamat" class="form-control"></textarea>
                            <span class="text-danger text-validation" id="text_alamat"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ll" class="col-md-3 col-form-label">Latitude,Longitude</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="ll">
                            <span class="text-danger text-validation" id="text_ll"></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="validasi('usual', 'Berhasil menambahkan wisata anda, tunggu proses berikutnya!')">Daftar</button>
                    <a href="./daftar_wisata_kuliner.html" class="btn btn-default">Batal</a>
                </div>
            </div>
        </fieldset>
    </form>
</section>